doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body 
        header.main-header
            nav.main-header__nav 
                ul.main-header__item-list
                    li.active.main-header__item
                        a(href="/", class=(path==="/" ? "active" : "")) Shop
                    li.active.main-header__item
                        a(href="/products", class=(path==="/products" ? "active" : "")) Products
                    if authenticated
                        li.active.main-header__item
                            a(href="/cart", class=(path==="/cart" ? "active" : "")) Cart
                        li.active.main-header__item
                            a(href="/order", class=(path==="/order" ? "active" : "")) Order
                        li.active.main-header__item
                            a(href="/admin/add-product", class=(path==='/admin/add-product' ? 'active' : '')) Add Product
                        li.active.main-header__item
                            a(href="/admin/products", class=(path==="/admin/products" ? "active" : "")) Admin Products
                        li.active.main-header__item

                    //-     a(href="/admin/users", class=(path==="admin/users" ? "active" : "")) All Users
                    //- li.active.main-header__item
                    //-     a(href="/admin/add-user", class=(path==="admin/add-user" ? "active" : "")) Add User
                ul.main-header__item-list
                    if !authenticated
                        li.active.main-header__item
                            a(href="/login", class=(path==="/login" ? "active" : "")) Login
                        li.active.main-header__item
                            a(href="/signup", class=(path==="/signup" ? "active" : "")) Signup
                    else
                        li.active.main-header__item
                            button.active.main-header__item(type="button") #{user_name}
                        li.active.main-header__item
                            form(action="/logout" method="post")
                                button.active.main-header__item(type="submit") Logout
                        //- a(href="/logout", class=(path==="/login" ? "active" : "")) Logout


                    

        block content

